In [25]:
import pandas as pd

In [26]:
df = pd.read_excel(
    'na_values.xlsx'
)
df

    列1   列2
0    a    0
1  NaN  NaN
2  NaN
3    b    1

In [27]:
df = pd.read_excel(
    'na_values.xlsx',
    na_values=['a', 0, ' ']
)
df

    列1   列2
0  NaN  NaN
1  NaN  NaN
2  NaN
3    b    1

In [28]:
df = pd.read_excel(
    'na_values.xlsx',
    na_values={'列1': ['a', 0, ' ']}
)
df

    列1   列2
0  NaN    0
1  NaN  NaN
2  NaN
3    b    1