[Dataquest](https://app.dataquest.io/m/354/regular-expression-basics/1/introduction)
[RegularEx](https://app.dataquest.io/m/351/cleaning-and-preparing-data-in-python/1/introducing-data-cleaning)

[Good tutorial](https://www.dataquest.io/blog/regular-expressions-data-scientists/)
[Ref](https://www.tutorialspoint.com/python/python_reg_expressions.htm)

# List of lists

In [1]:
from csv import reader

In [2]:
opened_file=open("artworks.csv")
read_file=reader(opened_file)
moma=list(read_file)
moma=moma[1:]

## Regular expression

## [String methods](https://www.datacamp.com/community/tutorials/python-string-tutorial)

Change/extrct Element of a string:
- str.replace
- str.split
- str.title/upper/lower

Getting to know:
- str.startwith

### str.replace - remove symbols (tidy data)

In [16]:
moma[1]

['Duplicate of plate from folio 11 verso (supplementary suite, plate 4) from ARDICIA',
 'Pablo Palazuelo',
 'Spanish',
 '(1916)',
 '(2007)',
 'Male',
 '1978',
 'Prints & Illustrated Books']

In [3]:
for row in moma:
    nationality=row[2]
    nationality=nationality.replace("(","")
    nationality=nationality.replace(")","")
    row[2]=nationality
    
    gender=row[5]
    gender=gender.replace("(","")
    gender=gender.replace(")","")
    row[5]=gender

In [4]:
moma[1]

['Duplicate of plate from folio 11 verso (supplementary suite, plate 4) from ARDICIA',
 'Pablo Palazuelo',
 'Spanish',
 '(1916)',
 '(2007)',
 'Male',
 '1978',
 'Prints & Illustrated Books']

----

### Symbol at head/tail

In [5]:
test_data = ["1912", "1929", "1913-1923",
             "(1951)", "1994", "1934",
             "c. 1915", "1995", "c. 1912",
             "(1988)", "2002", "1957-1959",
             "c. 1955.", "c. 1970's", 
             "C. 1990-1999"]

bad_chars = ["(",")","c","C",".","s","'", " "]

def strip_characters(string):
    for char in bad_chars:
        string=string.replace(char,"")
    return string

stripped_test_data=[]

for row in test_data:
    row=strip_characters(row)
    stripped_test_data.append(row)

### Symbol in between str.split()

In [6]:
def process_date(date):
    if "-" in date:
        split_date = date.split("-")
        date_one = split_date[0]
        date_two = split_date[1]       
        date = (int(date_one) + int(date_two)) / 2
        date = round(date)
    else:
        date = int(date)
    return date

In [7]:
stripped_test_data = ['1912', '1929', '1913-1923',
                      '1951', '1994', '1934',
                      '1915', '1995', '1912',
                      '1988', '2002', '1957-1959',
                      '1955', '1970', '1990-1999']


processed_test_data = []

for d in stripped_test_data:
    date = process_date(d)
    processed_test_data.append(date)

In [8]:
for row in moma:
    date = row[6]
    date = strip_characters(date)
    date = process_date(date)
    row[6] = date

### str.title - captalization

The Gender column in our data set contains four unique values:

- "" (an empty string)
- "Male"
- "Female"
- "male"

Inconsistency in data

- We could use str.replace() to replace m with M, but then we'd end up with instances of FeMale.
- We could use str.replace() to replace male with Male. This would also give us instances of FeMale.

Even if the word "male" wasn't contained in the word "female," both of these techniques wouldn't be good options if we had a column with many different values.

The str.title() method returns a copy of the string with the first letter of each word transformed to uppercase (also known as title case).

In [9]:
for row in moma:
    gender=row[5]
    gender=gender.title()
    if not gender:
        gender="Gender Unknown/Other"
    row[5]=gender
    
    nationality=row[2]
    nationality=nationality.title()
    if not nationality:
        nationality="Nationality Unknown"
        
    row[2]=nationality

In [10]:
moma[1]

['Duplicate of plate from folio 11 verso (supplementary suite, plate 4) from ARDICIA',
 'Pablo Palazuelo',
 'Spanish',
 '(1916)',
 '(2007)',
 'Male',
 1978,
 'Prints & Illustrated Books']

### str2num

- Takes a single argument
- Uses str.replace() to remove the "(" character
- Uses str.replace() to remove the ")" character
- Uses the int() function to convert the string to an integer

In [11]:
def clean_and_convert(date):
    # check that we don't have an empty string
    if date != "":

        date = date.replace("(", "")
        date = date.replace(")", "")
        date = int(date)
    return date

In [12]:

for row in moma:
    BeginDate=row[3]
    EndDate=row[4]
    BeginDate=clean_and_convert(BeginDate)
    EndDate=clean_and_convert(EndDate)
    
    row[3]=BeginDate
    row[4]=EndDate

In [13]:
moma[1]

['Duplicate of plate from folio 11 verso (supplementary suite, plate 4) from ARDICIA',
 'Pablo Palazuelo',
 'Spanish',
 1916,
 2007,
 'Male',
 1978,
 'Prints & Illustrated Books']

### Insert Variable into string - str.format()

 - using the brace characters ({}) to signify where we want any variables to be inserted.
 - index
 - keyword argument

In [14]:
opened_file = open('artworks_clean.csv')
read_file = reader(opened_file)
moma = list(read_file)
moma = moma[1:]

# Convert the birthdate values
for row in moma:
    birth_date = row[3]
    if birth_date != "":
        birth_date = int(birth_date)
    row[3] = birth_date
    
# Convert the death date values
for row in moma:
    death_date = row[4]
    if death_date != "":
        death_date = int(death_date)
    row[4] = death_date

str.format() converts the integer to a string for us. The variables are inserted into the {} by the order that we pass them as arguments.

In [15]:
output = "{}'s favorite number is {}".format("Kylie", 8)
print(output)

Kylie's favorite number is 8

If we want to specify ordering and/or repeat numbers, we can use integers:

In [17]:
output = "{0}'s favorite number is {1}, {1} is {0}'s favorite number".format("Kylie", 8)
print(output)

Kylie's favorite number is 8, 8 is Kylie's favorite number

When we use keyword arguments to pass values to str.format(), we can use those names inside our braces.

In [19]:
template = "{name}'s favorite number is {num}, {num} is {name}'s favorite number"
output = template.format(name="Kylie", num="8")
print(output)

Kylie's favorite number is 8, 8 is Kylie's favorite number

More readable way - function

In [20]:
def artist_summary(artist,num_artworks):
    
    print("There are {num} artworks by {name} in the data set".format(name=artist,num=num_artworks))

name="Henri Matisse"
artist_summary(name,artist_freq[name])

Kylie's favorite number is 8, 8 is Kylie's favorite number

## In Pandas basics
[Part1](https://app.dataquest.io/m/293/data-cleaning-basics/1/reading-csv-files-with-encodings)

- Cleaning column names
- Extracting values from the start of strings
- Extracting values from the end of strings

In [22]:
import pandas as pd

In [23]:
laptops = pd.read_csv("laptops.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 4: invalid continuation byte

### Encoding

- [Text representation in a computer](https://app.dataquest.io/m/451/encodings-and-representing-text-in-a-computer/1/the-ascii-encoding)

- [Data cleaning basics](https://app.dataquest.io/m/293/data-cleaning-basics/1/reading-csv-files-with-encodings)

We get an error! (The error message has been shortened.) This error references UTF-8, which is a type of encoding. Computers, at their lowest levels, can only understand binary - 0 and 1- and encodings are systems for representing characters in binary.

Something we can do if our file has an unknown encoding is to try the most common encodings:

- UTF-8
- Latin-1 (also known as ISO-8859-1)
- Windows-1251

In [25]:
import pandas as pd
laptops=pd.read_csv("laptops.csv",encoding="Latin-1")
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   object
 7    Storage                  1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price (Euros)             1303 non-null   object
dtypes: object(13)
memory usage: 132.5+ KB

In [26]:
laptops.head()

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"

#### rename columns

In [27]:
def clean_col(col):
    col=col.strip()
    col=col.replace("Operating System","os")
    col=col.replace(" ","_")
    col=col.replace("(","")
    col=col.replace(")","")
    col=col.lower()
    return col
new_columns=[]
for c in laptops.columns:
    clean_c=clean_col(c)
    new_columns.append(clean_c)
laptops.columns=new_columns

In [30]:
unique_ram=laptops["ram"].unique()
print(unique_ram)

['8' '16' '4' '2' '12' '6' '32' '24' '64']

### series.str.replace

In [31]:
laptops["ram"] = laptops["ram"].str.replace('GB','')
laptops["ram"]=laptops["ram"].astype(int)
dtypes=laptops.dtypes

In [35]:
laptops.rename({"ram":"ram_gb"},inplace=True,axis=1)
ram_gb_desc=laptops["ram_gb"].describe()

In [36]:
laptops.head()

,manufacturer,model_name,category,screen_size,screen,cpu,ram_gb,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,X,1.37kg,"1339,69",Intel
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,X,1.34kg,"898,94",Intel
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,Version Unknown,1.86kg,"575,00",Intel
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,X,1.83kg,"2537,45",Intel
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,X,1.37kg,"1803,60",Intel

#### rename column

In [37]:
laptops["weight"]=laptops["weight"].str.replace("kgs","").str.replace("kg","").astype(float)
laptops.rename({"weight":"weight_kg"},axis=1,inplace=True)
laptops.to_csv("laptops_cleaned.csv",index=False)

### series.str.split().str[]

In [32]:
laptops["cpu_manufacturer"]=laptops["cpu"].str.split().str[0]
cpu_manufacturer_counts=laptops["cpu_manufacturer"].value_counts()

### series.map(dict)

In [ ]:
mapping_dict = {
    'Android': 'Android',
    'Chrome OS': 'Chrome OS',
    'Linux': 'Linux',
    'Mac OS': 'macOS',
    'No OS': 'No OS',
    'Windows': 'Windows',
    'macOS': 'macOS'
}

laptops["os"]=laptops["os"].map(mapping_dict)

### Missing values

In [33]:
value_counts_before = laptops.loc[laptops["os_version"].isnull(), "os"].value_counts()
laptops.loc[laptops["os"] == "macOS", "os_version"] = "X"

laptops.loc[laptops["os"]=="No OS","os_version"]="Version Unknown"

value_counts_after = laptops.loc[laptops["os_version"].isnull(), "os"].value_counts()

We learned that any positive number can be represented in base 2 and that for that reason this was a good solution for representing numbers in a computer.

In order to represent more complex information such as text, all that is needed is to define a set of rules that translates the information that we want to represent into a sequence of zeros and ones. The simplest kind of rule that we can define is a table that explicitly tells us the binary representation of each object that we want to represent. Such a rule is called an encoding.

In [38]:
string="this is a test"
string.replace("i","a").replace("t","d")

'dhas as a desd'

## Pandas Advancded
- Finding specific strings or substrings in columns
- Extracting substrings from unstructured data
- Removing strings or substrings from a series

# Re package

## Find and match

- re.findall() matches **all instances** of a pattern in a string and returns them in **a list**,
- re.search() matches the **first instance** of a pattern in a string, and returns it as a re **match object.**
  - group() converts the match object into a string.