In [17]:
import pandas as pd

In [18]:
s = pd.Series(
    [1,2,3,4],
    index=['total', '列',
           'sum', 'dtype']
)
s

total    1
列        2
sum      3
dtype    4
dtype: int64

In [19]:
s.total

1

In [20]:
s['total']

1

In [21]:
s.列

2

In [22]:
s.sum

<bound method Series.sum of total    1
列        2
sum      3
dtype    4
dtype: int64>

In [23]:
s['sum']

3

In [24]:
s.dtype

dtype('int64')

In [25]:
s['dtype']

4

In [26]:
df = pd.DataFrame(
    [[1,2,3,4],
    [5,6,7,8]],
    columns=['total', '列',
           'sum', 'dtypes']
)
df

   total  列  sum  dtypes
0      1  2    3       4
1      5  6    7       8

In [27]:
df.total

0    1
1    5
Name: total, dtype: int64

In [28]:
df.列

0    2
1    6
Name: 列, dtype: int64

In [29]:
df.sum

<bound method DataFrame.sum of    total  列  sum  dtypes
0      1  2    3       4
1      5  6    7       8>

In [30]:
df.dtypes

total     int64
列         int64
sum       int64
dtypes    int64
dtype: object

In [31]:
df['dtypes']

0    4
1    8
Name: dtypes, dtype: int64