In [363]:
import pandas as pd

In [364]:
s = pd.Series(
    {'A': 1, 'B': 2, 'C': 3}
)
s

A    1
B    2
C    3
dtype: int64

In [365]:
df = pd.DataFrame({
    'A': [1, 4, 7],
    'B': [2, 5, 8],
    'C': [3, 6, 9],
}, index=list('XYZ'))
df

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [366]:
df.to_numpy().sum()

45

In [367]:
s['C']

3

In [368]:
s.get('D', 888)

888

In [369]:
df['B']

X    2
Y    5
Z    8
Name: B, dtype: int64

In [370]:
s[2]

3

In [371]:
# df[2] error

In [372]:
s[['B', 'C']]

B    2
C    3
dtype: int64

In [373]:
df[['B']]

   B
X  2
Y  5
Z  8

In [374]:
s[[True, False, True]]

A    1
C    3
dtype: int64

In [375]:
df[[True, False, True]]

   A  B  C
X  1  2  3
Z  7  8  9

In [376]:
mask = s > 1
mask

A    False
B     True
C     True
dtype: bool

In [377]:
s[s > 1]

B    2
C    3
dtype: int64

In [378]:
df['B'] > 2

X    False
Y     True
Z     True
Name: B, dtype: bool

In [379]:
df[df['B'] > 2]

   A  B  C
Y  4  5  6
Z  7  8  9

In [380]:
df[(df['B'] > 2) & (df['B'] < 6)]

   A  B  C
Y  4  5  6

In [381]:
df[(df['B'] == 2) | (df['B'] == 8)]

   A  B  C
X  1  2  3
Z  7  8  9

In [382]:
df[~(df['B'] == 2)]

   A  B  C
Y  4  5  6
Z  7  8  9

In [383]:
s = pd.Series([1, 2, 'a'])
s = s.replace('\w+', pd.NA, regex=True)
s = s[s.notna()]
s

0    1
1    2
dtype: object

In [384]:
import re
s = pd.Series([1, 2, 'a'])
s = s.astype('str')
mask = s.apply(lambda x: bool(re.match('\d+', x)))
s = s[mask]
s

0    1
1    2
dtype: object

In [385]:
def fun(x):
    try:
        return int(x)
    except:
        return pd.NA
s = pd.Series([1, 2, 'a'])
s = s.apply(fun).dropna()
s

0    1
1    2
dtype: object

In [386]:
s = pd.Series([1, 2, 'a'])
pd.Series(filter(lambda x: isinstance(x, int), s))

0    1
1    2
dtype: int64