In [4]:
import pandas as pd

In [5]:
s = pd.Series(
    [1,2,None,None,5,
     100, None, 200]
)
s

0      1.0
1      2.0
2      NaN
3      NaN
4      5.0
5    100.0
6      NaN
7    200.0
dtype: float64

In [6]:
s.interpolate()

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5    100.0
6    150.0
7    200.0
dtype: float64

In [7]:
df = pd.DataFrame([
    [1,2,3,4],
    [1,None,None,4],
    [1,None,None,8],
    [10,20,30,40],
])
df

    0     1     2   3
0   1   2.0   3.0   4
1   1   NaN   NaN   4
2   1   NaN   NaN   8
3  10  20.0  30.0  40

In [10]:
df.interpolate(axis=0)

    0     1     2   3
0   1   2.0   3.0   4
1   1   8.0  12.0   4
2   1  14.0  21.0   8
3  10  20.0  30.0  40

In [11]:
df.interpolate(axis=1)

      0          1          2     3
0   1.0   2.000000   3.000000   4.0
1   1.0   2.000000   3.000000   4.0
2   1.0   3.333333   5.666667   8.0
3  10.0  20.000000  30.000000  40.0