In [34]:
import pandas as pd

In [35]:
pd.read_excel('goods_base.xlsx')

          货号  商品代码  颜色代码  商品名称 品牌   成本  季节  商品年份
0   QTVW5600  QTVW  5600   羽绒服  A  180  冬季  2018
1   AXTB3200  AXTB  3200    棉服  B   90  冬季  2019
2   VBOY1800  VBOY  1800   家居服  C  120  冬季  2018
3   HWLA4700  HWLA  4700  长袖T恤  A   30  秋季  2020
4   XDQV5600  XDQV  5600    卫衣  B   56  春季  2019
5   XHQA3700  XHQA  3700  羊毛大衣  C  200  冬季  2018
6   UQNA9200  UQNA  9200    毛衣  B   68  春季  2020
7   FLHR1800  FLHR  1800  短袖T恤  A   25  夏季  2019
8   LCHM9800  LCHM  9800  保暖内衣  B   50  冬季  2018
9   AGDH5500  AGDH  5500   牛仔裤  C   80  四季  2019
10  YZFM1200  YZFM  1200    夹克  B   70  秋季  2019
11  PWDK9200  PWDK  9200  运动长裤  B   60  四季  2020

In [36]:
pd.read_excel('sheet_name.xlsx',
              sheet_name=2)

   月份   销量    销量额
0   3  600  50000

In [37]:
pd.read_excel('sheet_name.xlsx',
              sheet_name='3月')

   月份   销量    销量额
0   3  600  50000

In [38]:
df_dict = pd.read_excel('sheet_name.xlsx',
              sheet_name=[1, '3月'])
df_dict[1]

   月份   销量    销量额
0   2  812  60860

In [39]:
df_dict['3月']

   月份   销量    销量额
0   3  600  50000

In [40]:
df_dict = pd.read_excel('sheet_name.xlsx',
              sheet_name=None)
df_dict

{'1月':    月份   销量    销量额
 0   1  875  68860,
 '2月':    月份   销量    销量额
 0   2  812  60860,
 '3月':    月份   销量    销量额
 0   3  600  50000}

In [41]:
df_dict['3月']

   月份   销量    销量额
0   3  600  50000

In [42]:
pd.read_excel('header.xlsx', header=None)

   0    1      2
0  1  875  65860
1  2  820  68870
2  3  877  70900

In [43]:
pd.read_excel('header.xlsx',
              sheet_name=1)

   月份   销量    销售额
0   1  875  65860
1   2  820  68870
2   3  877  70900

In [44]:
pd.read_excel('header.xlsx',
              sheet_name=2,
              header=1)

   月份   销量    销售额
0   1  875  65860
1   2  820  68870
2   3  877  70900

In [45]:
pd.read_excel('header.xlsx',
              sheet_name=3,
              header=[0, 1],
              index_col=0)

     销量         销售额
月份   京东   天猫     京东     天猫
1   400  875  42860  65860
2   450  820  46870  68870
3   430  877  50900  70900

In [46]:
pd.read_excel('usecols.xlsx')

   AAA  BBB  CCC  DDD  EEE
0   10   20   30   40   50
1   60   70   80   90  100

In [47]:
pd.read_excel('usecols.xlsx',
              usecols='B:E')

   BBB  CCC  DDD  EEE
0   20   30   40   50
1   70   80   90  100

In [48]:
pd.read_excel('usecols.xlsx',
              usecols=[0, 2])

   AAA  CCC
0   10   30
1   60   80

In [49]:
pd.read_excel('usecols.xlsx',
              usecols=['AAA', 'CCC'])

   AAA  CCC
0   10   30
1   60   80

In [50]:
pd.read_excel('usecols.xlsx',
              usecols=lambda x: (x=='AAA') | (x=='EEE'))

   AAA  EEE
0   10   50
1   60  100

In [51]:
pd.read_excel('goods_base.xlsx', 
              usecols=['货号', '商品名称', '品牌', '成本', '季节', '商品年份'])

          货号  商品名称 品牌   成本  季节  商品年份
0   QTVW5600   羽绒服  A  180  冬季  2018
1   AXTB3200    棉服  B   90  冬季  2019
2   VBOY1800   家居服  C  120  冬季  2018
3   HWLA4700  长袖T恤  A   30  秋季  2020
4   XDQV5600    卫衣  B   56  春季  2019
5   XHQA3700  羊毛大衣  C  200  冬季  2018
6   UQNA9200    毛衣  B   68  春季  2020
7   FLHR1800  短袖T恤  A   25  夏季  2019
8   LCHM9800  保暖内衣  B   50  冬季  2018
9   AGDH5500   牛仔裤  C   80  四季  2019
10  YZFM1200    夹克  B   70  秋季  2019
11  PWDK9200  运动长裤  B   60  四季  2020

In [52]:
pd.read_excel('skiprows.xlsx',
              skiprows=1)

   月份   销量    销售额
0   1  875  65860
1   2  820  68870
2   3  877  70900

In [54]:
pd.read_excel('skiprows.xlsx',
              sheet_name=1,
              skiprows=[0, 2])

   月份   销量    销售额
0   1  875  65860
1   2  820  68870
2   3  877  70900

In [55]:
pd.read_excel('skiprows.xlsx',
              sheet_name=2,
              skiprows=2,
              skipcols=1)

   Unnamed: 0  月份   销量    销售额
0         NaN   1  875  65860
1         NaN   2  820  68870
2         NaN   3  877  70900

In [60]:
pd.read_excel('skiprows.xlsx',
              sheet_name=2,
              skiprows=2,
              usecols='B:D')

   月份   销量    销售额
0   1  875  65860
1   2  820  68870
2   3  877  70900