In [12]:
import pandas as pd

In [13]:
s = pd.Series([
    '2020-01-01',
    '2020-01-02',
    '2020-01-03',
], dtype='string')
s

0    2020-01-01
1    2020-01-02
2    2020-01-03
dtype: string

In [14]:
s.str.split('-')

0    [2020, 01, 01]
1    [2020, 01, 02]
2    [2020, 01, 03]
dtype: object

In [15]:
s.str.split('-', expand=True)

      0   1   2
0  2020  01  01
1  2020  01  02
2  2020  01  03

In [16]:
s = pd.Series([
    '2020-01-01',
    '2020/01/02',
    '2020*01*03',
], dtype='string')
s

0    2020-01-01
1    2020/01/02
2    2020*01*03
dtype: string

In [18]:
s.str.split(r'[-/*]', expand=True)

      0   1   2
0  2020  01  01
1  2020  01  02
2  2020  01  03