In [1]:
import pandas as pd

In [2]:
s = pd.Series(
    {'A': 1, 'B': 2, 'C': 3}
)
s

A    1
B    2
C    3
dtype: int64

In [3]:
df = pd.DataFrame({
    'A': [1, 4, 7],
    'B': [2, 5, 8],
    'C': [3, 6, 9],
}, index=list('XYZ'))
df

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [4]:
s[0:2]

A    1
B    2
dtype: int64

In [5]:
s[0:-1]

A    1
B    2
dtype: int64

In [6]:
s[::-1]

C    3
B    2
A    1
dtype: int64

In [7]:
s[::2]

A    1
C    3
dtype: int64

In [8]:
df[0:2]

   A  B  C
X  1  2  3
Y  4  5  6

In [9]:
s['A':'B']

A    1
B    2
dtype: int64

In [11]:
df['X':'Y']

   A  B  C
X  1  2  3
Y  4  5  6