In [5]:
import pandas as pd

In [6]:
df1 = pd.DataFrame([
    [1, 2],
    [3, 4],
], columns=['A', 'B'],
   index=['X', 'Y'])
df1

   A  B
X  1  2
Y  3  4

In [7]:
# df1.add(df1)

In [9]:
df2 = pd.DataFrame([
    [10, 20],
    [30, 40],
], columns=['C', 'B'],
   index=['Z', 'Y'])
df2

    C   B
Z  10  20
Y  30  40

In [10]:
df1.add(df2)

    A     B   C
X NaN   NaN NaN
Y NaN  44.0 NaN
Z NaN   NaN NaN

In [11]:
df1.add(df2, fill_value=0)

     A     B     C
X  1.0   2.0   NaN
Y  3.0  44.0  30.0
Z  NaN  20.0  10.0