In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        '款号': ['AA', 'BB'],
        '颜色': ['11', '22'],
        '尺码': ['S', 'M']
    }
)
df

   款号  颜色 尺码
0  AA  11  S
1  BB  22  M

In [3]:
df['货号'] = df['款号'] + df['颜色']
df

   款号  颜色 尺码    货号
0  AA  11  S  AA11
1  BB  22  M  BB22

In [4]:
df['货号'] = df['款号'].str.cat(df['颜色'])
df

   款号  颜色 尺码    货号
0  AA  11  S  AA11
1  BB  22  M  BB22

In [5]:
df['SKU'] = df['款号'].str.cat(
    [df['颜色'], df['尺码']])
df

   款号  颜色 尺码    货号    SKU
0  AA  11  S  AA11  AA11S
1  BB  22  M  BB22  BB22M

In [6]:
df1 = df[['颜色', '尺码']]
df1

   颜色 尺码
0  11  S
1  22  M

In [7]:
df['SKU1'] = df['款号'].str.cat(
    df1
)
df

   款号  颜色 尺码    货号    SKU   SKU1
0  AA  11  S  AA11  AA11S  AA11S
1  BB  22  M  BB22  BB22M  BB22M

In [8]:
df = pd.DataFrame(
    {
        '款号': ['AA', 'BB'],
        '颜色': ['11', pd.NA],
    }
)
df

   款号    颜色
0  AA    11
1  BB  <NA>

In [9]:
df['货号'] = df['款号'] + df['颜色']
df

   款号    颜色    货号
0  AA    11  AA11
1  BB  <NA>  <NA>

In [11]:
df['货号'] = df['款号'].str.cat(
    df['颜色'],
    na_rep='_'
)
df

   款号    颜色    货号
0  AA    11  AA11
1  BB  <NA>   BB_