In [37]:
import pandas as pd
import re

In [38]:
df = pd.read_excel(
    'goods_base.xlsx',
    usecols=['货号']
)
df

         货号
0  QTVW5600
1  axtb3200
2  VBOY1800

In [39]:
df['货号'].str.extract(
    r'([A-Z]+)'
)

      0
0  QTVW
1   NaN
2  VBOY

In [40]:
df['货号'].str.extract(
    r'([A-Z]+)', expand=False
)

0    QTVW
1     NaN
2    VBOY
Name: 货号, dtype: object

In [41]:
df['货号'].str.extract(
    r'([A-Z]+)(\d+)'
)

      0     1
0  QTVW  5600
1   NaN   NaN
2  VBOY  1800

In [42]:
df['货号'].str.extract(
    r'(?P<款号>[A-Z]+)?(?P<color>\d+)'
)

     款号 color
0  QTVW  5600
1   NaN  3200
2  VBOY  1800

In [43]:
df['货号'].str.extract(
    r'(?P<款号>[a-zA-Z]+)?(?P<color>\d+)'
)

     款号 color
0  QTVW  5600
1  axtb  3200
2  VBOY  1800

In [44]:
df['货号'].str.extract(
    r'(?P<款号>[a-z]+)?(?P<color>\d+)',
    flags=re.IGNORECASE
)

     款号 color
0  QTVW  5600
1  axtb  3200
2  VBOY  1800