In [9]:
import pandas as pd

In [10]:
df = pd.read_excel(
    'true_false_values.xlsx'
)
df

  列1 列2  列3
0  a  d   0
1  b  e   1
2  c  f   2

In [11]:
df = pd.read_excel(
    'true_false_values.xlsx',
    true_values=['a', 'b'],
    false_values=['c', 'd'],
)
df

      列1 列2  列3
0   True  d   0
1   True  e   1
2  False  f   2

In [12]:
df.dtypes

列1      bool
列2    object
列3     int64
dtype: object

In [13]:
df = pd.read_excel(
    'true_false_values.xlsx',
    true_values=['a', 'b', 1, 2],
    false_values=['c', 'd', 0],
)
df

      列1 列2  列3
0   True  d   0
1   True  e   1
2  False  f   2

In [14]:
df = pd.read_excel(
    'true_false_values.xlsx',
    true_values=['a', 'b'],
    false_values=['c', 'd'],
    dtype={'列3': bool}
)
df

      列1 列2     列3
0   True  d  False
1   True  e   True
2  False  f   True

In [15]:

df = pd.read_excel(
    'true_false_values.xlsx',
    encoding='GBK'
)
df

  列1 列2  列3
0  a  d   0
1  b  e   1
2  c  f   2