## Pandas
https://study.163.com/course/courseLearn.htm?courseId=1209966922#/learn/video?lessonId=1280724283&courseId=1209966922

### Datatype
##### pd.Series
- a column of dataFrame
- argument
 - data,(list,dict,scalar,np.array)
 - index,
 - dtype

In [1]:
import pandas as pd

In [2]:
s=pd.Series([1,2,3])

s

0    1
1    2
2    3
dtype: int64

In [3]:
s=pd.Series([1,2,3]
            ,index=list('abc')
            ,dtype='int64'
            ,name='num')
s

a    1
b    2
c    3
Name: num, dtype: int64

In [4]:
s=pd.Series(3.0,index=list('abc'))
s

a    3.0
b    3.0
c    3.0
dtype: float64

#### pd.DataFrame
- data
- index
- column

In [12]:
list_2d=[[1,2],
         [3,4]]

In [13]:
df=pd.DataFrame(list_2d)
df

   0  1
0  1  2
1  3  4

In [15]:
df=pd.DataFrame(list_2d,
                index=['x','y'],
                columns=['a','b'])
df

   a  b
x  1  2
y  3  4

In [16]:
d={"a":[1,3],"b":[2,4]}
df=pd.DataFrame(d,
                index=['x','y'])
df

   a  b
x  1  2
y  3  4

### IO
- read_excel
 - IO
 - sheet_name

 - header
 - index_col

 - usecols
 - skiprows

#### sheet_name
- default: <font color='red'>0</font>
- int: which sheet to import, starts from 0
- str: sheet names
- list: [int,string], return <font color='red'>dictionary</font>
- None: All the sheets, return <font color='red'>dictionary</font>

In [1]:
import pandas as pd
pd.read_excel('goods_base.xlsx')

          货号  商品代码  颜色代码  商品名称 品牌   成本  季节  商品年份       上架日期  上架费     在售
0   QTVW5600  QTVW  5600   羽绒服  A  180  冬季  2018 2018-01-01  1.2   True
1   AXTB3200  AXTB  3200    棉服  B   90  冬季  2019 2019-01-02  1.2   True
2   VBOY1800  VBOY  1800   家居服  C  120  冬季  2018 2018-01-01  1.2   True
3   HWLA4700  HWLA  4700  长袖T恤  A   30  秋季  2020 2020-01-01  1.2   True
4   XDQV5600  XDQV  5600    卫衣  B   56  春季  2019 2019-01-03  1.2   True
5   XHQA3700  XHQA  3700  羊毛大衣  C  200  冬季  2018 2018-05-05  1.2   True
6   UQNA9200  UQNA  9200    毛衣  B   68  春季  2020 2020-03-20  0.8   True
7   FLHR1800  FLHR  1800  短袖T恤  A   25  夏季  2019 2019-01-01  0.8  False
8   LCHM9800  LCHM  9800  保暖内衣  B   50  冬季  2018 2018-01-01  0.8  False
9   AGDH5500  AGDH  5500   牛仔裤  C   80  四季  2019 2019-01-01  0.8  False
10  YZFM1200  YZFM  1200    夹克  B   70  秋季  2019 2019-01-01  0.8  False
11  PWDK9200  PWDK  9200  运动长裤  B   60  四季  2020 2020-02-15  0.8  False

In [8]:
pd.read_excel('sheet_name.xlsx',sheet_name=2)

   月份   销量    销量额
0   3  600  50000

In [2]:
pd.read_excel('sheet_name.xlsx',sheet_name='3月')

   月份   销量    销量额
0   3  600  50000

In [15]:
df_dict=pd.read_excel('sheet_name.xlsx',sheet_name=[1,"3月"])
df_dict["3月"]
df_dict[1]

   月份   销量    销量额
0   2  812  60860

In [3]:
df_dict=pd.read_excel('sheet_name.xlsx',sheet_name=None)
df_dict["3月"]
df_dict[1]

KeyError: 1

#### header

In [2]:
pd.read_excel('header.xlsx',header=None)

   0    1      2
0  1  875  65860
1  2  820  68870
2  3  877  70900

In [3]:
pd.read_excel('header.xlsx',sheet_name=1)

   月份   销量    销售额
0   1  875  65860
1   2  820  68870
2   3  877  70900

In [4]:
pd.read_excel('header.xlsx',sheet_name=2,header=1)

   月份   销量    销售额
0   1  875  65860
1   2  820  68870
2   3  877  70900

In [5]:
pd.read_excel('header.xlsx',sheet_name=3,header=[0,1],index_col=0)

     销量         销售额
月份   京东   天猫     京东     天猫
1   400  875  42860  65860
2   450  820  46870  68870
3   430  877  50900  70900

#### usecols

In [6]:
pd.read_excel('usecols.xlsx')

   AAA  BBB  CCC  DDD  EEE
0   10   20   30   40   50
1   60   70   80   90  100

In [7]:
pd.read_excel('usecols.xlsx',usecols='A,C:E')

   AAA  CCC  DDD  EEE
0   10   30   40   50
1   60   80   90  100

In [8]:
pd.read_excel('usecols.xlsx',usecols=[0,2])

   AAA  CCC
0   10   30
1   60   80

In [9]:
pd.read_excel('usecols.xlsx',usecols=['AAA','CCC'])

   AAA  CCC
0   10   30
1   60   80

In [10]:
pd.read_excel('usecols.xlsx',usecols=lambda x:(x=='AAA')|(x=='EEE'))

   AAA  EEE
0   10   50
1   60  100

In [11]:
pd.read_excel('goods_base.xlsx',usecols=['货号', '商品名称', '品牌', '成本', '季节', '商品年份', '上架日期', '上架费', '在售'] )

          货号  商品名称 品牌   成本  季节  商品年份       上架日期  上架费     在售
0   QTVW5600   羽绒服  A  180  冬季  2018 2018-01-01  1.2   True
1   AXTB3200    棉服  B   90  冬季  2019 2019-01-02  1.2   True
2   VBOY1800   家居服  C  120  冬季  2018 2018-01-01  1.2   True
3   HWLA4700  长袖T恤  A   30  秋季  2020 2020-01-01  1.2   True
4   XDQV5600    卫衣  B   56  春季  2019 2019-01-03  1.2   True
5   XHQA3700  羊毛大衣  C  200  冬季  2018 2018-05-05  1.2   True
6   UQNA9200    毛衣  B   68  春季  2020 2020-03-20  0.8   True
7   FLHR1800  短袖T恤  A   25  夏季  2019 2019-01-01  0.8  False
8   LCHM9800  保暖内衣  B   50  冬季  2018 2018-01-01  0.8  False
9   AGDH5500   牛仔裤  C   80  四季  2019 2019-01-01  0.8  False
10  YZFM1200    夹克  B   70  秋季  2019 2019-01-01  0.8  False
11  PWDK9200  运动长裤  B   60  四季  2020 2020-02-15  0.8  False

#### skiprows

In [12]:
print(pd.read_excel('skiprows.xlsx',skiprows=1))
print()
print(pd.read_excel('skiprows.xlsx',skiprows=2))

   月份   销量    销售额
0   1  875  65860
1   2  820  68870
2   3  877  70900

   1      875    65860
0      2    820  68870
1      3    877  70900

In [13]:
pd.read_excel('skiprows.xlsx',sheet_name=1,skiprows=[0,2])

   月份   销量    销售额
0   1  875  65860
1   2  820  68870
2   3  877  70900

In [14]:
pd.read_excel('skiprows.xlsx',sheet_name=2,skiprows=2,usecols='B:D')

   月份   销量    销售额
0   1  875  65860
1   2  820  68870
2   3  877  70900

#### names
- name the columns if there is no header
- Note that the header=None

In [15]:
pd.read_excel('header.xlsx',names=['Month','Quantity','Total'])

   Month  Quantity  Total
0      2       820  68870
1      3       877  70900

In [16]:
pd.read_excel('header.xlsx',header=None,names=['Month','Quantity','Total'])

   Month  Quantity  Total
0      1       875  65860
1      2       820  68870
2      3       877  70900

#### dtype
- Different data types support different methods/functions
- category - save storage space+ranking
- object - is not a good thing

In [17]:
df=pd.read_excel('goods_base.xlsx')
df

          货号  商品代码  颜色代码  商品名称 品牌   成本  季节  商品年份       上架日期  上架费     在售
0   QTVW5600  QTVW  5600   羽绒服  A  180  冬季  2018 2018-01-01  1.2   True
1   AXTB3200  AXTB  3200    棉服  B   90  冬季  2019 2019-01-02  1.2   True
2   VBOY1800  VBOY  1800   家居服  C  120  冬季  2018 2018-01-01  1.2   True
3   HWLA4700  HWLA  4700  长袖T恤  A   30  秋季  2020 2020-01-01  1.2   True
4   XDQV5600  XDQV  5600    卫衣  B   56  春季  2019 2019-01-03  1.2   True
5   XHQA3700  XHQA  3700  羊毛大衣  C  200  冬季  2018 2018-05-05  1.2   True
6   UQNA9200  UQNA  9200    毛衣  B   68  春季  2020 2020-03-20  0.8   True
7   FLHR1800  FLHR  1800  短袖T恤  A   25  夏季  2019 2019-01-01  0.8  False
8   LCHM9800  LCHM  9800  保暖内衣  B   50  冬季  2018 2018-01-01  0.8  False
9   AGDH5500  AGDH  5500   牛仔裤  C   80  四季  2019 2019-01-01  0.8  False
10  YZFM1200  YZFM  1200    夹克  B   70  秋季  2019 2019-01-01  0.8  False
11  PWDK9200  PWDK  9200  运动长裤  B   60  四季  2020 2020-02-15  0.8  False

In [18]:
df.dtypes

货号              object
商品代码            object
颜色代码             int64
商品名称            object
品牌              object
成本               int64
季节              object
商品年份             int64
上架日期    datetime64[ns]
上架费            float64
在售                bool
dtype: object

In [19]:
df=pd.read_excel('goods_base.xlsx'
                 ,dtype={'货号':'str',
                         '商品代码':'string',
                         '颜色代码':'str', ## error raised if "string"
                         "季节":'category',
                         "品牌":'category',
                         "商品年份":'period[Y]'



})

df['颜色代码']=df['颜色代码'].astype('string')
df.dtypes

货号              object
商品代码            string
颜色代码            string
商品名称            object
品牌            category
成本               int64
季节            category
商品年份     period[A-DEC]
上架日期    datetime64[ns]
上架费            float64
在售                bool
dtype: object

#### Parse_dates - specify columns should be parsed
- True --index
- [0,1]
- [[0,1,2,]] or [['year','month','day']]
- {日期：[[0,1,2]]}

date_parser- the format of datetime

In [55]:
df=pd.read_excel('parse_dates.xlsx',index_col=2,parse_dates=True)
df

,日期0,日期1,日期3,日期4,日期5,日期6
日期2,,,,,,
2020-01-20,20200120,20200120,1/20/2020,2020/1/20,2020-01-20 00:10:10,2020-01-20
2020-01-21,20200121,20200121,1/21/2020,2020/1/21,2020-01-21 00:10:11,2020-01-21

In [56]:
df.index

DatetimeIndex(['2020-01-20', '2020-01-21'], dtype='datetime64[ns]', name='日期2', freq=None)

In [58]:
df=pd.read_excel('parse_dates.xlsx',parse_dates=[0,1,2,3,4,5])
df

,日期0,日期1,日期2,日期3,日期4,日期5,日期6
0,2020-01-20,2020-01-20,2020-01-20,2020-01-20,2020-01-20,2020-01-20 00:10:10,2020-01-20
1,2020-01-21,2020-01-21,2020-01-21,2020-01-21,2020-01-21,2020-01-21 00:10:11,2020-01-21

In [59]:
df.dtypes

日期0    datetime64[ns]
日期1    datetime64[ns]
日期2    datetime64[ns]
日期3    datetime64[ns]
日期4    datetime64[ns]
日期5    datetime64[ns]
日期6    datetime64[ns]
dtype: object

In [61]:
df=pd.read_excel('parse_dates.xlsx',
                 sheet_name=1,
                 parse_dates=[[0,1,2]]
                 )
df

       年_月_日   销量
0 2020-01-20  100
1 2020-01-21  200

In [64]:
df=pd.read_excel('date_parser.xlsx')
df

           日期
0  2020年1月20日
1  2020年1月21日

In [21]:
df.dtypes

日期    datetime64[ns]
dtype: object

In [7]:
df=pd.read_excel('date_parser.xlsx'
                 ,parse_dates=[0]
                 ,date_parser=lambda x:pd.to_datetime(x,format='%Y年%m月%d日'))
df

          日期
0 2020-01-20
1 2020-01-21