In [19]:
import pandas as pd

In [20]:
df = pd.DataFrame(
    {'A': ['$10', '-$20']}
)
df

      A
0   $10
1  -$20

In [21]:
df['B'] = df['A'].str.replace('0', '9')
df

      A     B
0   $10   $19
1  -$20  -$29

In [22]:
df['B'] = df['A'].str.replace('\d', '*')
df

      A     B
0   $10   $**
1  -$20  -$**

In [23]:
df['B'] = df['A'].str.replace('$', '￥')
df

      A     B
0   $10   ￥10
1  -$20  -￥20

In [24]:
df['B'] = df['A'].str.replace('-\$', '-￥')
df

      A     B
0   $10   $10
1  -$20  -￥20

In [25]:
df['B'] = df['A'].str.replace(
    '-$', '-￥', regex=False)
df

      A     B
0   $10   $10
1  -$20  -￥20