In [36]:
import pandas as pd
from datetime import datetime

In [37]:
df = pd.DataFrame([
    ['\na\n', '\nd\n', datetime(2020, 1, 1)],
    ['\nb\n', 1, datetime(2020, 1, 2)]
], columns=list('ABC'))
df

       A      B          C
0  \na\n  \nd\n 2020-01-01
1  \nb\n      1 2020-01-02

In [38]:
df.dtypes

A            object
B            object
C    datetime64[ns]
dtype: object

In [39]:
df['A'].str.strip()

0    a
1    b
Name: A, dtype: object

In [40]:
df['B'].str.strip()

0      d
1    NaN
Name: B, dtype: object

In [41]:
# df['C'].str.strip()

In [42]:
df['B'].astype('str').str.strip()

0    d
1    1
Name: B, dtype: object

In [43]:
df['C'].astype('str').str.split('-')

0    [2020, 01, 01]
1    [2020, 01, 02]
Name: C, dtype: object

In [44]:
df = pd.read_excel(
    'Series_str.xlsx',
    sheet_name=1
).convert_dtypes()
df

               货号         日期    销量
0        QTVW5600 2020-01-01     1
1        AXTB3200 2020-01-02     2
2        VBOY1800 2020-01-03  <NA>

In [45]:
df.dtypes

货号            string
日期    datetime64[ns]
销量             Int64
dtype: object

In [46]:
df.iloc[2, 0]

'      VBOY1800'

In [47]:
df['货号'] = df['货号'].str.strip()

In [48]:
df.iloc[2, 0]

'VBOY1800'