In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame([
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]],
    columns=list('ABCD'),
    index=list('XYZ'))
df

   A   B   C   D
X  1   2   3   4
Y  5   6   7   8
Z  9  10  11  12

In [5]:
df.iloc[0]

A    1
B    2
C    3
D    4
Name: X, dtype: int64

In [6]:
df.iloc[0, 1]

2

In [7]:
df.iloc[[0, 1], [1, 3]]

   B  D
X  2  4
Y  6  8

In [8]:
df.iloc[[True, False, True],
        [True, True, False, False]]

   A   B
X  1   2
Z  9  10

In [9]:
df.loc[[True, False, True],
        [True, True, False, False]]

   A   B
X  1   2
Z  9  10

In [10]:
df.iloc[0:2, 1:3]

   B  C
X  2  3
Y  6  7

In [12]:
df.iloc[lambda df: [0, 1],
        lambda df: [1, 3]]

   B  D
X  2  4
Y  6  8

In [13]:
df.iloc[0, 1]

2

In [14]:
df.iat[0, 1]

2

In [15]:
df.loc['X', 'B']

2

In [18]:
df.loc['X':'Y', 'B':'D']

   B  C  D
X  2  3  4
Y  6  7  8

In [19]:
df.at['X':'Y', 'B':'D']

TypeError: unhashable type: 'slice'