In [15]:
import pandas as pd

In [16]:
df = pd.DataFrame(
    {'A': ['ab', 'cdefg', pd.NA]})
df

       A
0     ab
1  cdefg
2   <NA>

In [17]:
df['B'] = df['A'].str.pad(
    width=4,
    side='left',
    fillchar='X'
)
df

       A      B
0     ab   XXab
1  cdefg  cdefg
2   <NA>   <NA>

In [18]:
df['B'] = df['A'].str.pad(
    width=8,
    side='right',
    fillchar='X'
)
df

       A         B
0     ab  abXXXXXX
1  cdefg  cdefgXXX
2   <NA>      <NA>

In [19]:
df['B'] = df['A'].str.pad(
    width=8,
    side='both',
    fillchar='X'
)
df

       A         B
0     ab  XXXabXXX
1  cdefg  XcdefgXX
2   <NA>      <NA>