In [35]:
import pandas as pd

In [36]:
s = pd.Series(
    [1, None, 2]
)
s

0    1.0
1    NaN
2    2.0
dtype: float64

In [37]:
s = s.dropna()
# s.dropna(inplace=True)

In [38]:
s

0    1.0
2    2.0
dtype: float64

In [39]:
df = pd.read_excel(
    'dropna.xlsx'
)
df

     A    B    C
0  1.0  NaN  2.0
1  NaN  NaN  NaN
2  3.0  4.0  5.0

In [40]:
df.dropna(
    axis=1,
    how='all',
    subset=[0, 1],
    inplace=True
)

In [41]:
df

     A    C
0  1.0  2.0
1  NaN  NaN
2  3.0  5.0