In [57]:
import pandas as pd

In [58]:
df = pd.read_excel('MultiIndex.xlsx')
df

        年  月  销量
0  2019.0  1  10
1     NaN  2  20
2     NaN  3  30
3  2020.0  1  40
4     NaN  2  50
5     NaN  3  60

In [59]:
df = pd.read_excel(
    'MultiIndex.xlsx',
    index_col=[0, 1]
)
df

        销量
年    月
2019 1  10
     2  20
     3  30
2020 1  40
     2  50
     3  60

In [60]:
df.index

MultiIndex([(2019, 1),
            (2019, 2),
            (2019, 3),
            (2020, 1),
            (2020, 2),
            (2020, 3)],
           names=['年', '月'])

In [61]:
df.columns.name = '指标'

In [62]:
df

指标      销量
年    月
2019 1  10
     2  20
     3  30
2020 1  40
     2  50
     3  60

In [63]:
df = pd.read_excel(
    'MultiIndex.xlsx',
    sheet_name=1,
    header=[0, 1],
    index_col=[0]
)
df

     京东       淘宝
货号   销量   售价  销量   售价
aaa  10  100  40  110
bbb  20  200  50  220
ccc  30  300  60  330

In [64]:
df.index.name = '货号'

In [65]:
df.columns.names = [None, None]

In [66]:
df

     京东       淘宝
     销量   售价  销量   售价
货号
aaa  10  100  40  110
bbb  20  200  50  220
ccc  30  300  60  330

In [67]:
# df.to_excel('std_mul_1.xlsx')

In [68]:
df = pd.read_excel(
    'MultiIndex.xlsx',
    sheet_name=2,
    header=[0, 1],
    index_col=[0, 1]
)
df

        京东       淘宝
        销量   售价  销量   售价
货号  月份
aaa 1   10  100  40  110
    2   20  200  50  220
bbb 1   30  300  60  330
    2   40  400  70  440

In [69]:
df.index

MultiIndex([('aaa', 1),
            ('aaa', 2),
            ('bbb', 1),
            ('bbb', 2)],
           names=['货号', '月份'])

In [70]:
df.columns.names = [
    None, None]

In [71]:
df

        京东       淘宝
        销量   售价  销量   售价
货号  月份
aaa 1   10  100  40  110
    2   20  200  50  220
bbb 1   30  300  60  330
    2   40  400  70  440

In [72]:
df.to_excel('std_mul_2.xlsx')