In [34]:
import pandas as pd

In [35]:
s = pd.Series(
    [1, None, None, 2]
)
s

0    1.0
1    NaN
2    NaN
3    2.0
dtype: float64

In [36]:
# s.fillna(0)

In [37]:
# s.fillna({0: 100, 1: 200})

In [38]:
s1 = pd.Series(
    {0: 100, 1: 200, 2: 300})
s1

0    100
1    200
2    300
dtype: int64

In [39]:
s.fillna(s1)

0      1.0
1    200.0
2    300.0
3      2.0
dtype: float64

In [40]:
s.fillna(method='ffill')

0    1.0
1    1.0
2    1.0
3    2.0
dtype: float64

In [41]:
s.fillna(method='bfill')

0    1.0
1    2.0
2    2.0
3    2.0
dtype: float64

In [42]:

df1 = pd.read_excel(
    'fillna.xlsx'
)
df1

   A     B     C   D
0  1   2.0   3.0   4
1  5   NaN   NaN   6
2  7   NaN   NaN   8
3  9  10.0  11.0  12

In [43]:
df2 = pd.read_excel(
    'fillna.xlsx',
    sheet_name=1
)
df2

   A  B  C  D
0  a  b  c  d
1  e  f  g  h
2  i  j  k  l
3  m  n  o  p

In [44]:
df1.fillna(0)

   A     B     C   D
0  1   2.0   3.0   4
1  5   0.0   0.0   6
2  7   0.0   0.0   8
3  9  10.0  11.0  12

In [45]:
df1.fillna({
    'B': 100,
    'C': 200
})

   A      B      C   D
0  1    2.0    3.0   4
1  5  100.0  200.0   6
2  7  100.0  200.0   8
3  9   10.0   11.0  12

In [47]:
df1.fillna(df2)

   A   B   C   D
0  1   2   3   4
1  5   f   g   6
2  7   j   k   8
3  9  10  11  12

In [48]:
df1.fillna(method='ffill')

   A     B     C   D
0  1   2.0   3.0   4
1  5   2.0   3.0   6
2  7   2.0   3.0   8
3  9  10.0  11.0  12

In [50]:
df1.fillna(method='bfill',
           axis=1)

     A     B     C     D
0  1.0   2.0   3.0   4.0
1  5.0   6.0   6.0   6.0
2  7.0   8.0   8.0   8.0
3  9.0  10.0  11.0  12.0