In [37]:
import pandas as pd

In [38]:
df = pd.DataFrame([
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]],
    columns=list('ABCD'),
    index=list('XYZ'))
df

   A   B   C   D
X  1   2   3   4
Y  5   6   7   8
Z  9  10  11  12

In [39]:
df.loc['Y']

A    5
B    6
C    7
D    8
Name: Y, dtype: int64

In [40]:
df.loc['Y', 'C']

7

In [41]:
df.loc[['X', 'Y'], ['B', 'D']]

   B  D
X  2  4
Y  6  8

In [42]:
df.loc['Y':'Z', 'B':'D']

    B   C   D
Y   6   7   8
Z  10  11  12

In [43]:
df.loc[:, 'B':'D']

    B   C   D
X   2   3   4
Y   6   7   8
Z  10  11  12

In [44]:
df.loc[:, ::-1]

    D   C   B  A
X   4   3   2  1
Y   8   7   6  5
Z  12  11  10  9

In [45]:
df.loc[::2, ::2]

   A   C
X  1   3
Z  9  11

In [46]:
df.loc[[True, False, True],
       [True, False, True, False]]

   A   C
X  1   3
Z  9  11

In [47]:
df.loc[lambda df: [True, False, True],
       lambda df: [True, False, True, False]]

   A   C
X  1   3
Z  9  11

In [48]:
df = pd.read_csv(
    'tips.csv',
    usecols=['total_bill','day','time']
)
df

     total_bill   day    time
0         16.99   Sun  Dinner
1         10.34   Sun  Dinner
2         21.01   Sun  Dinner
3         23.68   Sun  Dinner
4         24.59   Sun  Dinner
..          ...   ...     ...
239       29.03   Sat  Dinner
240       27.18   Sat  Dinner
241       22.67   Sat  Dinner
242       17.82   Sat  Dinner
243       18.78  Thur  Dinner

[244 rows x 3 columns]

In [49]:
df.groupby(['day','time']).sum()

             total_bill
day  time
Fri  Dinner      235.96
     Lunch        89.92
Sat  Dinner     1778.40
Sun  Dinner     1627.16
Thur Dinner       18.78
     Lunch      1077.55

In [50]:
# df.groupby(['day','time']).sum()[
#     df[df['total_bill']>100]
# ]

In [52]:
df.groupby(['day','time']).sum().loc[
    lambda df: df['total_bill']>100
]

             total_bill
day  time
Fri  Dinner      235.96
Sat  Dinner     1778.40
Sun  Dinner     1627.16
Thur Lunch      1077.55

In [53]:
df = df.groupby(['day','time']).sum()
df = df[df['total_bill']>100]
df

             total_bill
day  time
Fri  Dinner      235.96
Sat  Dinner     1778.40
Sun  Dinner     1627.16
Thur Lunch      1077.55

In [ ]:
df.loc['X', 'B'] == df.at['X', 'B']
df.loc[1, 2] == df.iat[1, 2]