In [2]:
import pandas as pd
from datetime import datetime
import numpy as np
np.random.seed(123)

In [3]:
def gen_list(items, size=100):
    return pd.Series(items).sample(
        n=size, replace=True
    ).tolist()

In [4]:
df = pd.DataFrame({
    '货号': gen_list(['aaa', 'bbb', 'ccc']),
    '尺码': gen_list(['S', 'M', 'L']),
    '平台': gen_list(['京东', '淘宝', '唯品会']),
    '销量': gen_list([2, 5, 8]),
})
df

     货号 尺码   平台  销量
0   ccc  S   淘宝   5
1   bbb  L  唯品会   8
2   ccc  L   京东   8
3   ccc  M   京东   5
4   aaa  M   京东   5
..  ... ..  ...  ..
95  bbb  L   淘宝   8
96  ccc  M  唯品会   5
97  ccc  M   京东   5
98  bbb  L   淘宝   2
99  ccc  L  唯品会   2

[100 rows x 4 columns]

In [5]:
df = pd.pivot_table(
    df,
    index=['货号'],
    columns=['平台', '尺码'],
    values='销量',
    aggfunc=sum
)
df

平台   京东         唯品会          淘宝
尺码    L   M   S   L   M   S   L   M   S
货号
aaa   7  18   8  15  33  21  23  17  17
bbb  31  23  25  24  17  15  25   5   7
ccc  31  33  10  18  15  18  19  29  38

In [6]:
df.index

Index(['aaa', 'bbb', 'ccc'], dtype='object', name='货号')

In [7]:
df.columns

MultiIndex([( '京东', 'L'),
            ( '京东', 'M'),
            ( '京东', 'S'),
            ('唯品会', 'L'),
            ('唯品会', 'M'),
            ('唯品会', 'S'),
            ( '淘宝', 'L'),
            ( '淘宝', 'M'),
            ( '淘宝', 'S')],
           names=['平台', '尺码'])

In [8]:
df[('淘宝', 'M')]

货号
aaa    17
bbb     5
ccc    29
Name: (淘宝, M), dtype: int64

In [9]:
df[[('淘宝', 'M'), ( '京东', 'M'),]]

平台   淘宝  京东
尺码    M   M
货号
aaa  17  18
bbb   5  23
ccc  29  33

In [10]:
df[df[('淘宝', 'M')]>10]

平台   京东         唯品会          淘宝
尺码    L   M   S   L   M   S   L   M   S
货号
aaa   7  18   8  15  33  21  23  17  17
ccc  31  33  10  18  15  18  19  29  38

In [12]:
df['淘宝']

尺码    L   M   S
货号
aaa  23  17  17
bbb  25   5   7
ccc  19  29  38

In [14]:
df.swaplevel(axis=1)['M']

平台   京东  唯品会  淘宝
货号
aaa  18   33  17
bbb  23   17   5
ccc  33   15  29

In [15]:
df.loc[:, (['唯品会', '淘宝'], 'M')]

平台  唯品会  淘宝
尺码    M   M
货号
aaa  33  17
bbb  17   5
ccc  15  29

In [16]:
df.loc['aaa':'bbb', '唯品会': '淘宝']

平台  唯品会          淘宝
尺码    L   M   S   L   M   S
货号
aaa  15  33  21  23  17  17
bbb  24  17  15  25   5   7

In [17]:
df.loc['aaa':'bbb',
       ('唯品会', 'M'): ('淘宝', 'M')]

平台  唯品会      淘宝
尺码    M   S   L   M
货号
aaa  33  21  23  17
bbb  17  15  25   5

In [18]:
df.loc['aaa':'bbb',
       ('唯品会', 'M'): '淘宝']

平台  唯品会      淘宝
尺码    M   S   L   M   S
货号
aaa  33  21  23  17  17
bbb  17  15  25   5   7

In [20]:
df.loc[:, (slice(None),'M')]

平台   京东 唯品会  淘宝
尺码    M   M   M
货号
aaa  18  33  17
bbb  23  17   5
ccc  33  15  29

In [22]:
df.loc[:, (slice('京东', '淘宝'),'M')]

平台   京东 唯品会  淘宝
尺码    M   M   M
货号
aaa  18  33  17
bbb  23  17   5
ccc  33  15  29

In [23]:
df.loc[:, (slice('京东', '淘宝'),
           slice('M', 'S'))]

平台   京东     唯品会      淘宝
尺码    M   S   M   S   M   S
货号
aaa  18   8  33  21  17  17
bbb  23  25  17  15   5   7
ccc  33  10  15  18  29  38