In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(
    {'A': ['a', 'bc', 'def']}
)
df

     A
0    a
1   bc
2  def

In [5]:
df['B'] = df['A'].str[0]
df

     A  B
0    a  a
1   bc  b
2  def  d

In [6]:
df['B'] = df['A'].str[1]
df

     A    B
0    a  NaN
1   bc    c
2  def    e

In [7]:
df['B'] = df['A'].str[2]
df

     A    B
0    a  NaN
1   bc  NaN
2  def    f

In [8]:
df['B'] = df['A'].str[100]
df

     A   B
0    a NaN
1   bc NaN
2  def NaN

In [9]:
df['B'] = df['A'].str[0:2]
df

     A   B
0    a   a
1   bc  bc
2  def  de